
<% provide(:title, "About") %>
<h1>About</h1>
<p>
	Ouzel Outfitters has a well-earned reputation for being highly organized and professional. The current owners, Brian Sykes and Will Sharp, worked their way through the ranks for the original owners as guides and then managers, before purchasing Ouzel in 2006 and have insured a continuous tradition of excellence stretching back to the founding of Ouzel in 1979.
</p>
<p>
	This website is a portal for our guides to check schedules, print out river logs, send messages to staff and other guides, and much, much more. 
</p>