<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  If you have any questions about rafting trips, being a guide, what an
   <a href="http://www.oregonrafting.com/index.cfm/pid/27/about/ouzel/water">Ouzel</a> 
   is, or are having problems with this sick site, please contact us at info@oregonrafting.com.
</p>