<% provide(:title, 'All users') %>

<div class="row page-header">
  <h1>All users</h1>
  <% if current_user.admin? %>
    <div class="center">
      <%= link_to 'Add User', signup_path, class: "btn btn-primary"  %>
    </div>
  <% end %>
</div>

<div class="row">
  <table id="users" role="datatable" class="display">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email Verified?</th>
        <th>Last logged in</th>
        <th class='action_col nosort' >Action</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <%= render "user-row", user: user %>
      <% end %>
    </tbody>
  </table>
</div>