<% provide(:title, 'All users') %>
<h1>All users</h1>

<% if current_user.admin? %>
	<p id="add_user_btn">
	<%= link_to "Add User", signup_path, class: "btn btn-lg btn-primary" %>
	</p>
<% end %>

<%= will_paginate %>

<table id="users-list" class="table table-striped">
  <thead class="table--head">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last logged in</th>
      <th scope="col" >Action</th>
    </tr>
  </thead>

  <tbody class="table--body">
    <% @users.each do |user| %>
      <%= render "user-row", user: user %>
    <% end %>

  </tbody>
</table>

<%= will_paginate %>