<% provide(:title, 'Accounts') %>

<div class="row page-header">
  <h1>Accounts</h1>
  <div class="center">
    <%= link_to 'Add Account', new_account_path, class: "btn btn-primary"  %>
  </div>
</div>

<div class="row">
  <table id="accounts" class="table table-striped hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Account</th>
        <th>Name</th>
        <th>Address</th>
        <th class='action_col'>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <%= render "account-row", account: account %>
      <% end %>
    </tbody>
  </table>
</div>